.App { 
  text-align: center; 
  padding: 20px; 
} 
 
.App-header { 
  background-color: #ff69b4; 
  color: white; 
  padding: 30px; 
  border-radius: 10px; 
} 
 
.product-list { 
  margin-top: 20px; 
  text-align: left; 
} 
 
ul { 
  list-style: none; 
  padding: 20px; 
} 
 
li { 
  background: white; 
  margin: 10px; 
  padding: 15px; 
  border-radius: 5px; 
  color: #333; 
} 
